/*=====================
  Базовая типография
=====================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;500;700;900&display=swap');

@roboto: 'Roboto', sans-serif;
@roboto_condensed: 'Roboto Condensed', sans-serif;

* {
  -webkit-locale: auto;
}

html {
  font-size: 14px;
}

body {
  font-family: @roboto;
  line-height: 1.2;
  font-weight: 400;
  color: @dark1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p,
li {
  line-height: 1.2;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}
