.header {
  padding: 22px 0;

  &__wrap {
    .row-align-center-mixin();
    position: relative;
  }

  &__logo {
    svg {
      width: 185px;
      height: 71px;
    }
  }

  &__contacts {
    .row-align-center-mixin();
    margin-left: auto;
    margin-right: 27px;

    .socials {
      margin-left: 10px;
    }

    .btn {
      padding: 8px 9px;
    }
  }

  &__phones {
    .column-align-start-mixin();
    margin-right: 25px;

    a {
      font-size: 20px;
      font-weight: 700;
      color: @white;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(3, 70px) 53px;
    height: 40px;

    & > * {
      border-left: 1px solid @white;
    }
  }

  &__search {
  }

  &__cart {
    .row-align-center-mixin();
    .row-justify-center-mixin();
    padding-right: 10px;

    .cart {
      position: relative;
      height: 24px;
      width: 24px;

      svg {
        width: 24px;
        height: 24px;
        stroke: @white;
      }

      span {
        position: absolute;
        top: -6px;
        right: -18px;
        background-color: @blue;
        color: @white;
        text-align: center;
        font-size: 11px;
        font-weight: 900;
        padding: 2px 5px;
        border-radius: 5px;
        min-width: 24px;
      }
    }
  }

  &__langs {
    .row-justify-center-mixin();
    .row-align-center-mixin();

    .current {
      position: relative;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: @white;
      padding-right: 12px;

      &:after {
        content: '';
        position: absolute;
        right: -2px;
        top: 4px;
        border: 5px solid transparent;
        border-top: 5px solid @blue;
      }
    }

    .dropdown {
      display: none;
    }
  }

  &__burger {
    .row-justify-end-mixin();
    .row-align-center-mixin();
    padding-right: 10px;
  }

  .burger {
    position: relative;
    width: 20px;
    height: 14px;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 2px;
      background-color: @white;
      transition: 0.3s;

      &:nth-child(1) {
        bottom: auto;
      }

      &:nth-child(3) {
        top: auto;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 6px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          bottom: 6px;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 280px;
    left: calc(1190px / 2 + 310px);
    padding: 30px 25px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      color: @white;
      font-size: 15px;
      text-transform: uppercase;

      & > li {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .toggle {
          .row-align-center-mixin();
          .row-justify-center-mixin();
          position: absolute;
          right: 0;
          top: 5px;
          cursor: pointer;
          width: 11px;
          height: 7px;
          transition: 0.3s;

          svg {
            width: 11px;
            height: 7px;
            fill: @blue;
          }

          &.active {
            transform: rotate(180deg);
          }
        }

        .dropdown {
          display: none;
          list-style: none;
          // height: 0;
          padding: 0;
          padding-top: 10px;
          padding-left: 10px;
          margin: 0;
          font-size: 15px;
          text-transform: none;
          overflow: hidden;
          // transition: 0.3s;

          &.active {
            height: 100%;
          }

          & > li {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  &_main {
    background-color: fade(@dark, 70%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    .menu {
      background-color: fade(@dark, 70%);
    }
  }
}
