.form {
  &__block {
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 17px;

    .name {
      font-size: 15px;
      font-weight: 300;
      display: inline-block;
      margin-bottom: 5px;
      padding-left: 5px;
    }
  }

  &__radio {
    .row-align-start-mixin();
    gap: 5px;
    border: 1px solid lighten(@dark, 70%);
    border-radius: 10px;
    padding: 7px;
    max-width: 221px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 10px;

    &_3to1 {
      grid-template-columns: 1fr 0.3fr;
    }
  }

  &__footer {
    .row-align-start-mixin();
  }

  .input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lighten(@dark, 70%);
    padding: 10px;
    font-size: 15px;
  }

  .textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid lighten(@dark, 70%);
    padding: 10px;
    font-size: 15px;
    resize: none;
  }

  .radio {
    position: relative;

    input {
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      opacity: 0;

      &:checked {
        & + p {
          background-color: @blue;
          color: @white;
        }
      }
    }

    p {
      margin: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300;
      background-color: lighten(@blue, 55%);
      cursor: pointer;
      transition: 0.3s;
      text-align: center;
      width: 100px;
      height: 35px;
      line-height: 35px;
      border-radius: 5px;
    }
  }

  .checkbox {
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;
      opacity: 0;

      &:checked {
        & + p {
          &:after {
            opacity: 1;
          }
        }
      }
    }

    p {
      .row-align-center-mixin();
      flex-wrap: wrap;
      position: relative;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      min-height: 40px;
      padding-left: 50px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border: 1px solid lighten(@dark, 70%);
        border-radius: 10px;
      }

      &:after {
        content: '';
        position: absolute;
        left: 14px;
        top: 16px;
        width: 13px;
        height: 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99957 8.99995C4.73957 8.99995 4.48957 8.89994 4.28957 8.70994L0.28957 4.70995C-0.10043 4.31995 -0.10043 3.68995 0.28957 3.29995C0.67957 2.90995 1.30957 2.90995 1.69957 3.29995L4.98957 6.58995L11.2796 0.299946C11.6696 -0.0900537 12.2996 -0.0900537 12.6896 0.299946C13.0796 0.689946 13.0796 1.31995 12.6896 1.70995L5.68957 8.70994C5.48957 8.90994 5.23957 8.99995 4.97957 8.99995H4.99957Z' fill='%231b1c1d'/%3E%3C/svg%3E%0A");
        opacity: 0;
        transition: 0.3s;
      }

      a {
        text-decoration: underline;
        margin-left: 4px;
      }
    }
  }

  .submit {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: @white;
    background-color: @blue;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 35px;
  }

  &_career {
    .form__footer {
      .row-align-end-mixin();
      margin-top: -40px;
      gap: 10px 46px;

      .form__item {
        margin-bottom: 0;
      }

      .form__checkbox {
        margin-left: auto;
        margin-bottom: 6px;
      }

      .submit {
        margin-bottom: 6px;
      }
    }
  }

  &_search {
    position: relative;
    display: none;

    .form__item {
      // display: none;
    }

    button {
      .row-align-center-mixin();
      .row-justify-center-mixin();
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      padding: 0;

      svg {
        width: 18px;
        height: 18px;
        fill: @white;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .form {
    &__block {
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 10px;

      .name {
        font-size: 12px;
        padding-left: 0;
      }
    }

    .input {
      height: 40px;
    }

    .textarea {
      height: 80px;
    }

    .checkbox {
      p {
        font-size: 12px;
      }
    }

    .submit {
      padding: 10px 20px;
    }

    &_career {
      .form__footer {
        margin-top: -15px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .form {
    &__row {
      grid-template-columns: repeat(2, 1fr);
    }

    &_career {
      .form__footer {
        .column-align-start-mixin();
        position: relative;
        padding-right: 150px;

        .submit {
          position: absolute;
          right: 0;
          bottom: 0;
          margin-bottom: 0;
        }

        .form__checkbox {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .form {
    &__row {
      grid-template-columns: 1fr;
    }

    &_career {
      .form__footer {
        padding-right: 0;

        .submit {
          position: static;
          margin-left: auto;
        }
      }
    }
  }
}
