.sep {
  &_vertical {
    .column-align-center-mixin();
    height: 100%;
    border-top: 1px solid @dark1;
    border-bottom: 1px solid @dark1;

    .sep__line {
      width: 1px;
      height: 100%;
      background-color: @dark1;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: -2px;
        top: 0;
        width: 5px;
        height: 10px;
        background-image: url('/img/icons/arrow2_t.png');
        background-size: 5px 10px;
      }

      &:after {
        top: auto;
        bottom: 0;
        transform: rotate(180deg);
      }
    }
  }

  &_horizontal {
    .row-align-center-mixin();
    width: 100%;
    border-left: 1px solid @dark1;
    border-right: 1px solid @dark1;

    .sep__line {
      width: 100%;
      height: 1px;
      background-color: @dark1;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 5px;
        background-image: url('/img/icons/arrow2.png');
        background-size: 10px 5px;
        left: 0;
        top: -2px;
      }

      &:after {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
}
